In [1]:
# Importing the essential libraries
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [2]:
# Load the CSV file into a pandas DataFrame
csv_file_path = r"C:\Users\harpr\OneDrive\Desktop\Construct Folder 2\dataset_folder\accounts.csv"  # Use a raw string (r"") for file paths on Windows
df = pd.read_csv(csv_file_path)
# Remove extra columns from DataFrame
df = df[['account', 'sector', 'year_established', 'revenue','employees','office_location']]  # adjust with columns in your SQL table


# Display the DataFrame to confirm the data loaded correctly
print(df.head())

# Replace with your actual database connection details
username = 'your_user'  # Login User
password = 'your_password'  # Your password with special characters

# URL-encode the password
encoded_password = quote_plus(password)

host = 'yourhost'            # Host
port = 'your_port'                 # Port
database_name = 'Your_database'   # Database name

# Create the connection string
connection_string = f'mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database_name}'

# Create an engine to connect to the MySQL database
engine = create_engine(connection_string)

# Define the table name where you want to load the data
table_name = 'accounts'

# Load the DataFrame into the MySQL table
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the SQL table.")

            account     sector  year_established  revenue  employees  \
0  Acme Corporation  technolgy              1996  1100.04       2822
1        Betasoloin    medical              1999   251.41        495
2          Betatech    medical              1986   647.18       1185
3        Bioholding    medical              2012   587.34       1356
4           Bioplex    medical              1991   326.82       1016

  office_location
0   United States
1   United States
2           Kenya
3      Philipines
4   United States
Data has been successfully loaded into the SQL table.

In [11]:

# Load the CSV file into a pandas DataFrame
csv_file_path = r"C:\Users\harpr\OneDrive\Desktop\Construct Folder 2\dataset_folder\products.csv"

df = pd.read_csv(csv_file_path)

# Display the DataFrame to confirm the data loaded correctly
print(df.head())

# Replace with your actual database connection details
username = 'your_user'  # Login User
password = 'your_password'  # Your password with special characters

# URL-encode the password
encoded_password = quote_plus(password)

host = 'yourhost'            # Host
port = 'your_port'                 # Port
database_name = 'Your_database'   # Database name

# Create the connection string
connection_string = f'mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database_name}'

# Create an engine to connect to the MySQL database
engine = create_engine(connection_string)

# Define the table name where you want to load the data
table_name = 'products'

# Load the DataFrame into the MySQL table
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the SQL table.")

        product series  sales_price
0     GTX Basic    GTX          550
1       GTX Pro    GTX         4821
2    MG Special     MG           55
3   MG Advanced     MG         3393
4  GTX Plus Pro    GTX         5482
Data has been successfully loaded into the SQL table.

In [13]:

# Load the CSV file into a pandas DataFrame
csv_file_path = r"C:\Users\harpr\OneDrive\Desktop\Construct Folder 2\dataset_folder\sales_pipeline.csv"

df = pd.read_csv(csv_file_path)

# Display the DataFrame to confirm the data loaded correctly
print(df.head())

# Replace with your actual database connection details
username = 'your_user'  # Login User
password = 'your_password'  # Your password with special characters

# URL-encode the password
encoded_password = quote_plus(password)

host = 'yourhost'            # Host
port = 'your_port'                 # Port
database_name = 'Your_database'   # Database name
# Create the connection string
connection_string = f'mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database_name}'

# Create an engine to connect to the MySQL database
engine = create_engine(connection_string)

# Define the table name where you want to load the data
table_name = 'sales_pipeline'

# Load the DataFrame into the MySQL table
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the SQL table.")

  opportunity_id      sales_agent         product  account deal_stage  \
0       1C1I7A6R      Moses Frase  GTX Plus Basic  Cancity        Won
1       Z063OYW0  Darcel Schlecht          GTXPro    Isdom        Won
2       EC4QE1BX  Darcel Schlecht      MG Special  Cancity        Won
3       MV1LWRNH      Moses Frase       GTX Basic  Codehow        Won
4       PE84CX4O        Zane Levy       GTX Basic   Hatfan        Won

  engage_date  close_date  close_value
0  2016-10-20  2017-03-01       1054.0
1  2016-10-25  2017-03-11       4514.0
2  2016-10-25  2017-03-07         50.0
3  2016-10-25  2017-03-09        588.0
4  2016-10-25  2017-03-02        517.0
Data has been successfully loaded into the SQL table.

In [14]:

# Load the CSV file into a pandas DataFrame
csv_file_path = r"C:\Users\harpr\OneDrive\Desktop\Construct Folder 2\dataset_folder\sales_teams.csv"

df = pd.read_csv(csv_file_path)

# Display the DataFrame to confirm the data loaded correctly
print(df.head())

# Replace with your actual database connection details
username = 'your_user'  # Login User
password = 'your_password'  # Your password with special characters

# URL-encode the password
encoded_password = quote_plus(password)

host = 'yourhost'            # Host
port = 'your_port'                 # Port
database_name = 'Your_database'   # Database name

# Create the connection string
connection_string = f'mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database_name}'

# Create an engine to connect to the MySQL database
engine = create_engine(connection_string)

# Define the table name where you want to load the data
table_name = 'sales_team'

# Load the DataFrame into the MySQL table
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the SQL table.")

         sales_agent           manager regional_office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central
Data has been successfully loaded into the SQL table.